asgiref==3.2.10
Django==2.2.28
django-filter==2.4.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
gunicorn==22.0.0
psycopg2-binary==2.8.6
PyJWT==2.4.0
pytz==2020.1
sqlparse==0.5.0
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
python-dotenv==0.19.2
